#p2 {
    text-decoration: overline dotted red;
}

#p1 {
    text-transform: capitalize;
}

#p3 {
    text-align: right;
    text-decoration: underline wavy purple;
}

#p4 {
    text-shadow: 6px 4px darkred;
}