body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    background-color: white;
}

.square {
    width: 100px;
    height: 100px;
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    body{
        flex-direction: column;
    }
}