.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #222;
}

.heart {
    width: 100px;
    height: 90px;
    align-items: center;
    box-shadow: 0px 0px 20px 20px;
    color:red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      transform:  scale(1);
      box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.8);
    }
    50% {
      transform:  scale(1.1);
      box-shadow: 0 0 30px 10px rgba(255, 0, 0, 1);
    }
    100% {
      transform:  scale(1);
      box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.8);
    }
}

.square{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    animation: square1 4s;
}

@keyframes square1 {
    0% {
        width: 100px;
        background-color: red;
        transform: rotate(0deg);
    }
    50% {
        width: 150px;
        background-color: pink;
        transform: rotate(90deg);
    }
    100% {
        width: 100px;
        background-color: black;
        transform: rotate(180deg);
    }
  }
  
  .square1{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 5px;
    animation: square2 5s;
}

@keyframes square2 {
    0% {
        width: 100px;
        background-color: green;
        transform: rotate(0deg);
    }
    50% {
        width: 150px;
        background-color: cyan;
        transform: rotate(90deg);
    }
    75% {
        width: 100px;
        background-color: crimson;
        transform: rotate(180deg);
    }
    100% {
        width: 100px;
        background-color: blue;
        transform: rotate(270deg);
    }
  }

  .square2{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 5px;
    animation: square3 10s infinite;
  }

  @keyframes square3 {
    0% {
        width: 100px;
        background-color: ivory;
        transform: rotate(0deg);
    }
    25% {
        width: 100px;
        background-color: magenta;
        transform: rotate(90deg);
    }
    50% {
        width: 150px;
        background-color: brown;
        transform: rotate(180deg);
    }
    75% {
        width: 100px;
        background-color: crimson;
        transform: rotate(270deg);
    }
    100% {
        width: 100px;
        background-color: orange;
        transform: rotate(360deg);
    }
  }